body {
    overflow: scroll;
}
.campo {
    font-size: 20px;
    height: 130px;
    border: 3px solid black;
}

.campo-desabilitado {
    background-color: lightgray;
}

.frase {
    font-size: 20px;
    text-align: left;
}

.icones {
    vertical-align: middle;
}

.borda-verde {
    border: 3px solid green;
}

.borda-vermelha {
    border: 3px solid red;
}

.js-placar {
    display: none;
}

#js-error {
    display: none;
}

#js-spinner {
    display: none;
}

#js-frase-id {
    width: 40px;
}

#js-botao-sync {
    float: right;
}

.js-select-usuarios{
    display:inline-block;
}

#usuarios{
    display:block;
}

.selectize-input {
    width: 150px;
    vertical-align: middle;
}